
.ccol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.cbanner {
    padding-left: 40px !important;
    background-image: url(../images/contact-us.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-page .form-control {
    background-color: #F2F3F3 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    border-radius: 5px;
}
.co-btn {
    border-radius: 40px !important;
    padding: 5px 40px !important;
}
.cpadding {
    padding-top: 80px;
    padding-bottom: 80px;
}
.cinfo {
    padding-bottom: 120px;
}
.contact-page .form-control:focus {
    box-shadow: none;
    border: 1px solid black
}
input[type="email"] 
    {
        height: calc(1.5em + .5rem + 2px) !important;
        padding: .25rem .5rem !important;
        font-size: .875rem !important;
        line-height: 1.5 !important;
        border-radius: .2rem !important;
    }