@font-face {
  font-family: 'Athelas';
  src: local('Athelas'), url(./fonts/Athelas.ttc) format('truetype');}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Athelas' !important;
  overflow-x: hidden;
}
body {
    background-color: #ffffff !important;
}
/* .App {
  margin-top: -127px;
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Homepage CSS */
.section-one {
  background-image: url('./images/section-back-1.png');
  height: 100% !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section-two {
  background: #BD5828 !important;
  height: 100% !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.font-80 {
  font-size: 41px !important;
}
.section-one-p {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #EAE1CB;
}
.section-eleven-p {
  max-width: 84%;
  text-align: center;
  font-size: 18px;
  color: #EAE1CB;
  margin: auto;
}
.section-two-p {
  text-align: center;
  font-size: 20px;
  padding: 0 15%;
}
.section-three {
  /* background-image: url('./images/bg-2.png'); */
  background-size: 100% 100%;
  -position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-left: -5px;
}
.section-backgroundthree h1 {
  position: absolute;
  width: 100%;
  top: 25%;
}
.section-three-p {
  text-align: center;
  font-size: 24px;
  position: absolute;
  width: 100%;
  bottom: 6% !important;
}
.section-four {
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #DFD8CF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.row {
  width: 100% !important;
}
.feature-img {
  width: 100%;
  display: flex;
  margin-bottom: 25px !important;
  justify-content: center;
}
.feature-img img {
  width: auto !important;
}
.feature-heading {
  color: #231F20;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
.fdesc {
  color: #231F20;
  font-size: 18px;
  text-align: center;
}
.fdesc {
  padding: 0 115px;
}
.text-color{
  color: #EAE1CB !important;
}
.section-five {
  /* background-image: url('./images/slide-5.png'); */
  background-size: 100% 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: -5px;
}
.lsection {
  overflow: hidden;
}
.section-eleven {
  background-color: hsl(345, 6%, 13%);
  padding: 50px 220px;
  width: 100%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section-twelve {
  background-image: url('./images/bg-last.png');
  background-color: #040707;
  padding-bottom: 80px;
  padding-top: 80px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section-six, .section-seven, .section-eight, .section-nine {
  background-color: #1b0c0e;
  height: 100% !important;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-bottom: 10px solid #EAE1CB;
}
.ftitle {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 18px;
}
.f-description p{
  font-size: 20px;
  margin-bottom: 6px;
}
.vmiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fimage img {
  width: 80%;
}
/* .row {
  height: 100% !important;
} */

/* Slider CSS */
.section-eleven h1 {
  margin-bottom: .5rem;
  font-weight: 600;
}
.section-twelve .my-btn {
  background-color: #BD5828 !important;
  font-size: 22px !important;
  padding: 10px 40px;
  border-radius: 12px;
  width: auto;
  margin: auto;
}

/* footer CSS */
.footer {
  background-color: #BE5927;
  padding-bottom: 20px;
  padding-top: 50px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.footer .container {
  min-height: 20px !important;
}
footer p {
  font-size: 18px;
}
.footer-flex {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/* Slider CSS */
/* .slide-1 {
  background-image: url('../images/');
} */  
.sabsolute {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
}
.sabsolute .container {
  align-items: center;
}
.full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-height h3{
  font-size: 70px !important;
}
#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 999;
}
.slide-menu {
  position: absolute;
  right: 120px;
  top: 60;
  overflow: hidden;
}
#site-header .container{
  min-height: auto;
  display: block;
}
.site-logo {
  float: left;
}
.site-logo img {
  width: 208px;
  margin-left: 40px;
}
.nav-toggle {
  float: right;
  cursor: pointer;
}
.nav-toggle img {
  width: 33px;
  margin-right: 40px;
}
.SectionContainer .section {
  overflow: hidden !important;
}
.scroll-down {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  z-index: 999;
}
.scroll-down img {
  cursor: pointer;
}
footer a {
  font-size: 19px;
}
.font-24 {
  font-size: 24px;
  font-weight: 500;
}
footer p {
  padding: 0.5rem 0;
}
footer .pleft {
  padding-left: 10rem;
}
.newsletter {
  padding-top:30px;
  padding-bottom: 15px;
  border-top: 2px solid #EAE1CB;
  width: 100%;
}
.newsletter p{
  font-size: 18px;
}
.newsletter input {
  margin-left: 30px;
  padding: 12px 10px;
  border-radius:5px;
  border: 1px solid #EAE1CB;
  background-color: #EAE1CB;
  width: 220px;
}
.footer .social {
  margin-right: 10px;
}
.vmiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ml11, .ml11b,.ml12, .ml12b {
  font-size: 46px !important;
}
.slide-header span {
  font-size: 48px !important;
}
.ml11 .letter, .ml11b .letter, .ml12 .letter, .ml12b .letter {
  display: inline-block !important;
  margin-left: -1px;
}
.breaks {
  display:block !important;
  float: left;
}
#background-video {
  object-fit: cover;
  height: 100vh;
  width: 100% !important;
  margin-bottom: -10px;
}
@media only screen and (max-width:768px) {
     .pleft {
       padding: 20px !important;
     }
     footer .col-sm-4 {
       padding-left: 20px !important;
     }
     .newsletter p {
      display: flex;
      flex-direction: column;
      align-items: center;
     }
     footer input {
       margin-left: 0 !important;
       margin-top: 15px;
     }
}
.section-even{
  text-align: center;
  padding: 80px 220px;
  background-color: #DFD8CF;
}
.secondh3{
  padding-top: 18px;
}
.section-even p, .section-even h3 {
  width: 100%;
  text-align: center;
}
.section-even h3 {
  font-size: 36px;
}
.section-even p {
  font-size: 18px;
}
.sectione1 .heading-1{
  margin: auto;
}
.sectione2 .sectionp1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
.sabsolute h3 {
  margin: auto;
  font-weight: 500;
  font-size: 70px;
}
.section-even p {
  color: #231F20 !important;
}
.section-even h3 {
  color: #231F20 !important;
  font-weight: 600 !important;
  margin-bottom: 0.5rem !important;
}

.section{
  color: #231F20;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #DFD8CF;
}

.section .secondh3{
  padding-top: 18px;
}

.section ul.list-group {
  list-style-type: none;
}
.section li.list {
  padding: 3px;
  color: #231F20 !important;
}
.section h3 {
  width: 100%;
  margin-bottom: 30px;
  color: #231F20;
  font-weight: 600;
}
.section-twelve .container{
  display: flex;
}
.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.56);
  background-size: 100%;
  z-index: -1;
}
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2.6px;
}
.psection { 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
.static {
  background: red;
}
.section-three::after {
  background-image: url('./images/bg-2.png');
  background-position: bottom !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-three2::after {
  background-image: url('./images/slide-4.png');
  background-position: bottom !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-three2 h3 {
  padding: 0 140px;
}
.section-five::after {
  background-image: url('./images/slide-5.png');
  background-position: bottom !important;
}
.secvideo h3 {
  font-size: 41px;
}
hr.line {
  width: 60%;
  color: red;
  height: 2px;
  opacity: unset;
  background-color: #231F20;
}
.secthree h3{
  margin: auto;
  max-width: 70%;
}
.section h3 {
  font-size: 36px;
}
.section h4 {
  font-size: 28px;
  font-weight: 600;
}
.section-four .container {
  padding-bottom: 50px;
}
footer hr.line {
  width: 100%;
  color: red;
  height: 2px;
  opacity: unset;
  background-color: antiquewhite;
}
.footer .company-logo img{
  width: 208px;
  padding-bottom: 20px;
}
footer .nav-link {
  padding: 3px !important;
}
.col-sm-4.pleft h4 {
  padding-top: 32px;
}
.slide-1 .container {
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

}
.section-three h3 {
  margin: auto;
  max-width: 85%;
}
.sectione2 .heading-2 {
  margin: auto;
}
.nav-close {
  display: none;
}
/* Responsive CSS */
@media only screen and (max-width: 1920px) {
  .full-height {
    min-height: 700px !important;
  }
  .parallax::after {
    transform: translateZ(-0.7px) scale(1.6);
  }
}
@media only screen and (max-width: 1024px) {
  .sabsolute h3 {
    font-size: 62px !important;
  }
  .full-height {
    min-height: 600px !important;
  }
  .parallax::after {
    transform: translateZ(-0.6px) scale(1.6);
  }
}
@media only screen and (max-width: 768px) {
  .nav-close {
    display: block;
    padding-top: 10px;
  }
  .nav-close i {
    color: #BD5828;
    font-weight: 300;
  }
  .slide-menu {
    width: 100%;
    top: 0;
    right: 0;
    background-color: #EAE1CB;
  }
  .wrapper #stickytop #site-header a {
    color: #BD5828 !important;
}
  .navbar-expand .navbar-nav {
    flex-direction: column;
    width: 100%;
}
  .section-three, .section-three2, .section-five {
    padding-top: 170px;
    padding-bottom: 170px;
  }
  .section-three2 h3 {
    padding:0;
  }
  .section-even {
    text-align: center;
    padding: 50px 0;
  }
  .sectione2 .heading-2 {
    margin: auto;
    max-width: 100%;
}
.section-eleven {
  padding: 50px 0;
}
  .site-logo img {
    width: 140px;
    margin-left: 20px;
  }
  .nav-toggle img {
    width: 30px;
    margin-right: 20px;
}
  #site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.sabsolute {
  height: 100%;
}
.slide-1 {
  position: relative;
}
.full-height h3 {
  font-size: 32px !important;
}
.sabsolute h3 {
  font-size: 41px !important;
  margin-top: 10px;
}
.sabsolute .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scroll-down {
  bottom: -10px;
}
.scroll-down img {
  width: 20px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.sectione1 .heading-1 {
  max-width: 100%;
}
.full-height {
  min-height: auto;
  padding-top: 150px;
  padding-bottom: 150px;
}
.parallax::after {
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-0.2px) scale(1.5);
  -webkit-transform: translateZ(-0.2px) scale(1.5);
  margin-bottom: 10px;
}
.wrapper {
  perspective: 1.5px;
 -webkit-perspective: 1.5px;
}
.sectione2 p {
  max-width: 100%;
}
.secthree h3 {
  max-width: 110%;
}
.section-eleven-p {
  max-width: 100%;
}
.section .list-group {
  margin-bottom: 20px;
}
.section-five:after  {
  margin-bottom: 0 !important;
}
.col-sm-6.center {
  height: 250px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.sectionwel {
  padding-top: 0 !important;
}
.itemcenter .form.a{
  width: 70% !important;
  margin: 0 auto !important;
}
.fdesc {
  padding: 0px 20px 0px;
}
}
@media only screen and (max-width: 600px) {
  .section-five, .section-three2 {
    padding-top: 65px !important;
    padding-bottom: 65px !important;
  }
  .section-three2 h3 {
    padding:0;
  }
  .section-even {
    text-align: center;
    padding: 50px 0;
  }
  .sectione2 .heading-2 {
    margin: auto;
    max-width: 100%;
}
.section-eleven {
  padding: 50px 0;
}
  .site-logo img {
    width: 140px;
    margin-left: 20px;
  }
  .nav-toggle img {
    width: 30px;
    margin-right: 20px;
}
  #site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.sabsolute {
  height: 100%;
}
.slide-1 {
  position: relative;
}
.full-height h3 {
  font-size: 32px !important;
}
.sabsolute h3 {
  font-size: 24px !important;
  margin-top: 10px;
}
.sabsolute .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scroll-down {
  bottom: -10px;
}
.scroll-down img {
  width: 20px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.sectione1 .heading-1 {
  max-width: 100%;
}
.full-height {
  min-height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.parallax::after {
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-0.2px) scale(1.5);
  margin-bottom: 10px;
}
.wrapper {
  perspective: 1.5px;
}
.sectione2 p {
  max-width: 100%;
}
.secthree h3 {
  max-width: 110%;
}
.section-eleven-p {
  max-width: 100%;
}
.section .list-group {
  margin-bottom: 20px;
}
.section-five:after  {
  margin-bottom: 0 !important;
}
.col-sm-6.center {
  height: 250px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.sectionwel {
  padding-top: 0 !important;
}
.itemcenter .form.a{
  width: 70% !important;
  margin: 0 auto !important;
}
.fdesc {
  padding: 0px 20px 0px;
}
}
/* @media only screen and (min-width: 1300px) {
  .full-height {
    min-height: 600px;
  }
} */
.ptop {
  padding-top: 40px;
}
.modal-content {
  background-color: #EAE1CB;
}
.flow {
  position: absolute;
  bottom: -20px;
}
.rflex .flow {
  position: absolute;
  bottom: 30px;
}
.my-btn.sbtn {
  font-size: 18px !important;
  padding: 8px 15px !important;
}
.sabsolute {
  background: rgba(0, 0, 0, 0.5);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.cursor
{
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  position  : absolute;
  background: -webkit-linear-gradient(rgba(255,255,255,0.7), rgba(200,200,200,0), rgba(150,150,150,0)); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,255,255,0.6), rgba(200,200,200,0), rgba(150,150,150,0)); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(rgba(255,255,255,0.2), rgba(200,200,200,0), rgba(150,150,150,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255,255,255,0.4), rgba(200,200,200,0), rgba(150,150,150,0)); /* Standard syntax */
}
#stickytop {
  height: 122px;
}
#stickytop a {
  font-family: Arial, Helvetica, sans-serif;
  color: #878787 !important;
}
.App #stickytop {
  height: auto;
}
.terms, .about{
  background-color: #DFD8CF;
}
/* .fixed-top #site-header{
  background-color: white;
} */
.abanner {
  padding-left: 40px;
  padding-right: 40px;
}
@media (min-width: 1400px)
{
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px !important;
}
}
#site-header {
  background-color: white;
}
.accordion .card {
  border-color: #fff !important;
}
.slide-menu {
  transition: all 0.6s !important;
}
.pdimg img{
  width: 100% !important;
  height: 700px;
  object-fit: cover; 
}
.App #site-header {
  background-color: transparent;
}
.wrapper .fixed-top #site-header {
  background-color: transparent !important;
}
.wrapper .fixed-top #site-header a{
  color: #BD5828 !important;
}
.App #site-header a{
  color: #EAE1CB !important;
}
.footer a:hover {
  color: black !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
background-color: transparent !important;
-webkit-box-shadow: 0 0 0 30px white inset !important;
}
.logsection input:-webkit-autofill,
.logsection input:-webkit-autofill:hover, 
.logsection input:-webkit-autofill:focus,
.logsection textarea:-webkit-autofill,
.logsection textarea:-webkit-autofill:hover,
.logsection textarea:-webkit-autofill:focus,
.logsection select:-webkit-autofill,
.logsection select:-webkit-autofill:hover,
.logsection select:-webkit-autofill:focus {
background-color: transparent !important;
-webkit-box-shadow: 0 0 0 30px #231f20 inset !important;
-webkit-text-fill-color: #BD5828;
}
.rsection input:-webkit-autofill,
.rsection input:-webkit-autofill:hover, 
.rsection input:-webkit-autofill:focus,
.rsection textarea:-webkit-autofill,
.rsection textarea:-webkit-autofill:hover,
.rsection textarea:-webkit-autofill:focus,
.rsection select:-webkit-autofill,
.rsection select:-webkit-autofill:hover,
.rsection select:-webkit-autofill:focus {
background-color: transparent !important;
-webkit-box-shadow: 0 0 0 30px #231f20 inset !important;
-webkit-text-fill-color: #BD5828;
}
.pace .pace-progress:after {
  font-family: 'Athelas' !important;
}
.pbanner {
  background-image: url(./images/portfolio.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pbanner .col-sm-6 {
  padding-left: 40px;
}